h1 {
    color: #27aedb;
    text-align: center;
    }
    

button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.buttons-container{
    display:grid;
    grid-template-columns: repeat(4,100px);
}

.cal-input{
    background-color: blue;
    color: white;
    font-size: 30px;
    text-align: right;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}